.categoryNav {
  position: sticky;
  top: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid #E7E7E7;
  padding: 15px;

  .categoryList {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    &::-webkit-scrollbar {
      display: none; /* Hide scrollbar for WebKit browsers */
    }
  }

  .categoryButton {
    background-color: #f5f5f5;
    border: none;
    color: #171717;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &.activeCategory {
      background-color: #41bd73;
      color: #fff;
      font-weight: bold;
    }
  }

  // Новий контейнер, що об'єднує сепаратор і кнопку фільтра
  .filterContainer {
    display: flex;
    align-items: center;

    // Можна додати gap або margin, якщо потрібно
    // gap: 10px; // або використайте margin

    .separator {
      height: 25px;
      width: 1px;
      background-color: #E7E7E7;
      margin-right: 10px; // відступ між сепаратором і кнопкою
    }

    .filterButton {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f5f5f5; /* Сірий фон */
      border-radius: 50%;  /* Кругла кнопка */
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
  }
}
