.fallbackContainer {
  background: linear-gradient(180deg, #000000 0%, #000000 25%, #000000 100%);
  display: flex;
  align-items: center;
  //justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.fallbackIcon {
  max-width: clamp(120px, 65vw, 300px); // Мін. 120px, максимум 260px, залежно від ширини вікна
}

.fallbackText {
  color: #fff;
  font-size: clamp(0.55rem, 5vw, 2rem);
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
  word-wrap: break-word;
}
