.topBar {
  position: absolute;
  /* враховуємо висоту статус-бару + 16px відступ */
  top: calc(env(safe-area-inset-top) + 16px);
  left: 16px;
  right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.controlButtons {
  display: flex;
  gap: 10px;
}

.cartWrapper {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.8);
  }
}

.cartIcon {
  fill: white;
  width: 20px;
  height: 20px;
}
